<div class="h-full p-10 flex flex-col items-center justify-center">
    <div class="flex items-start gap-4">
        <mat-form-field>
            <mat-label>Keyword</mat-label>
            <input matInput [formControl]="control" />
        </mat-form-field>
        <mat-spinner class="!w-[30px] !h-[30px]" color="primary" *ngIf="loading$ | async" />
    </div>
    <div class="flex flex-col items-center" *ngIf="pokemon$ | async as pokemon">
        <img height="200" width="200" [alt]="pokemon.name" [ngSrc]="pokemon.sprites.front_default" />
        <div class="uppercase text-center">{{ pokemon.name }}</div>
    </div>
</div>
